<h1>Expenses</h1>
<table>
  <tbody>
    <% @expenses.each do |expense| %>
      <tr>
        <td><h2><%= expense[:month] %></h2></td>
      </tr>
      <% expense[:category_totals].each do |category_total| %>
        <tr>
          <td><%= category_total[:name] %></td>
          <td><%= number_to_currency(category_total[:total]) %></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
<br>
